@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome/h2>
    <p class="lead"><b>Track changes in Word - </b>This site was setup to enable tracked changes in Word when a new document is added to a library in SharePoint.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>See documentation for setup</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=294439">Learn more &raquo;</a></p>
    </div>
</div>
